<%= content_for(:title, "Cheap gym in Gateshead | Vision Health and Fitness") %>


<% if browser.mobile? %>
  <div class="row">
    <div class="banner-container">
      <%= image_tag 'banner-small.jpg' %>
      <%= link_to "Join Now", "https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1X", target: "_blank", class: "button radius large-2 medium-4 small-10", onClick: "ga('send', 'event', 'button', 'click', 'home-banner-join');"%>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="banner-container">
      <%= image_tag 'banner.jpg' %>
      <%= link_to "Join Now", "https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1X", target: "_blank", class: "button radius large-2 medium-4 small-10", onClick: "ga('send', 'event', 'button', 'click', 'home-banner-join', {'nonInteraction': 1});" %>
    </div>
  </div>
<% end %>

<div class="row home-info">
  <div class="row">
    <div class="large-7 columns">
      <h1>Vision Health and Fitness Gateshead</h1>
      <p>Welcome to Vision Health & Fitness Club, the North east leading fitness facility. We believe in getting the maximum from your work out and gym experience, without breaking the bank. With {memberships} starting at only £14.99 per month, what's stopping you from joining?</p>
      <p> Our Gym is equipped with state of the art equipment using the best Precor CV machines, and a huge range of both pin and plate loaded equipment, 2 Olympic platforms and the biggest free weights area you have seen. Don't believe us, have a look at our {virtual tour}.</p>
      <p>
    </div>
    <div class="large-5 columns">
      <div class="large-12 columns">
      <h3>It's easy to join</h3>
      <p>It really is simple to join, simply click on the link below, input your details and your a member, then simply come and train. (each membership receives a free induction)</p>
      <%= link_to "Join Now", "https://secure.ashbournemanagement.co.uk/amsv2/signup/default.aspx?fn=VSF1X", target: "_blank", class: "button radius", onClick: "ga('send', 'event', 'button', 'click', 'home-content-join', {'nonInteraction': 1});" %>
    </div>
    <div class="large-12 columns">
      <h3>We are moving!</h3>
      <p>We just got much much bigger... new facility opening feb 2016 unit 2 sands industrial estate, (opposite B&Q) swalwell, gateshead. ne16 3dj.</p>
      <p>Welcome to Vision Health & Fitness Club, the North east leading fitness facility. We believe in getting the maximum forom your work out and gym experience, without breaking the piggy bank.With {memberships} starting at only £14.99 per month, what's stopping you from joining?</p>
      <p>Our Gym is equipped with state of the art equipment using the best Precor CV machines, and a huge range of both pin and plate loaded equipment, 2 Olympic platforms and the biggest free weights area you have seen. Don't believe us, have a look at our {virtual tour}.</p>
      <p>We have 7 area's, yes 7 area's for classes and over 80 classes per week. A dedicated spin studio, 'A' frame for suspension training classes, indoor 30m track for all functional and strongman training, aerobics studio with a wide range of classes available, olympic lifting area, boxing gym and mma gym.</p>
      <a href="#!" class="button radius">Check it out</a>
    </div>
    </div>
  </div>
  </div>
  <div class="row offers">
    <div class="medium-4 columns">
      <i class="flaticon-building1"></i>
      <h3><%= link_to "Facilities", gym_facilities_path %></h3>
      <ul>
        <li>Large CV area</li>
        <li>Huge Weights section</li>
        <li>Studio</li>
        <li>Boxing Gym</li>
        <li>Great range of classes</li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <i class="flaticon-stretching"></i>
      <h3><%= link_to "Classes", classes_path %></h3>
      <p>Come try some of our classes, if you want to get fit you won't be disappointed.</p>
    </div>
    <div class="medium-4 columns">
      <i class="flaticon-personal-training"></i>
      <h3><%= link_to "Personal Training", personal_training_path %></h3>
      <p>We have a number of highly dedicated personal trainers who consistently achieve great results with their clients.</p>
    </div>
  </div>
</div>

<div data-alert class="alert-box new-gym-alert">
  We just got much much <span>bigger</span>...  new facility opening <span>feb 2016</span> unit 2 sands industrial estate, (opposite B&Q) swalwell, gateshead. ne16 3dj.
  <a href="#" class="close">&times;</a>
</div>

