<%= content_for(:title, "Vision Health and Fitness opening times") %>

<div class="wrapper">
  <h2>Opening times</h2>
  <p>Monday: <%= t('opening_hours.monday') %></p>
  <p>Tuesday: <%= t('opening_hours.tuesday') %></p>
  <p>Wednesday: <%= t('opening_hours.wednesday') %></p>
  <p>Thursday: <%= t('opening_hours.thursday') %></p>
  <p>Friday: <%= t('opening_hours.friday') %></p>
  <p>Saturday: <%= t('opening_hours.saturday') %></p>
  <p>Sunday: <%= t('opening_hours.sunday') %></p>
</div>
