<%= form_for [:backend, @user] do |f| %>

  <% if @user.errors.any? %>
    <p>The form contains <%= pluralize(@user.errors.count, "error") %>.</p>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <div class="errors">
        <li><%= msg %></li>
      </div>
    <% end %>
  </ul>
<% end %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

  <%= f.label :username %>
  <%= f.text_field :username %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= f.submit "Submit", data: { disable_with: "Saving..." }, class: "button radius" %>

<% end %>
