<div id="nav-wrapper">
  <div id="nav" class="row">
  <div class="small-12 columns">
    <img src="http://www.visionhealthandfitness.co.uk/logo-small.png" alt="Vision Health and Fitness logo">
  </div>
    
  </div>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
      <% if logged_in? %>
      <ul class="right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Customers", backend_customers_path %></li>
        <li><%= link_to "Blowouts", backend_blowouts_path %></li>
        <li><%= link_to "Conversions", backend_conversions_path %></li>
        <li><%= link_to "Users", backend_users_path %></li>
        <li><%= link_to "Appointments", backend_appointments_path %></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
      </ul>
    <% end %>
    </section>
  </nav>
</div>
