<div class="row">
  <div class="footer small-12 column">
    <div class="row footer-info">
      <div class="medium-4 columns">
        <h4>RECENT ACTIVITY</h4>
        <p>Blog coming soon...</p>
      </div>
      <div class="medium-4 columns">
        <h4>OPENING HOURS</h4>
        <ul>
          <li><i class="fi-clock"></i>MONDAY <span class="opening-hour"><%= t('opening_hours.monday')  %></span></li>
          <li><i class="fi-clock"></i>TUESDAY <span class="opening-hour"><%= t('opening_hours.tuesday')  %></span></li>
          <li><i class="fi-clock"></i>WEDNESDAY <span class="opening-hour"><%= t('opening_hours.wednesday')  %></span></li>
          <li><i class="fi-clock"></i>THURSDAY <span class="opening-hour"><%= t('opening_hours.thursday')  %></span></li>
          <li><i class="fi-clock"></i>FRIDAY <span class="opening-hour"><%= t('opening_hours.friday')  %></span></li>
          <li><i class="fi-clock"></i>SATURDAY <span class="opening-hour"><%= t('opening_hours.saturday')  %></span></li>
          <li><i class="fi-clock"></i>SUNDAY <span class="opening-hour"><%= t('opening_hours.sunday')  %></span></li>
        </ul>
      </div>
      <div class="medium-4 columns">
        <h4>CONTACT INFO</h4>
          <p><i class="fi-map"></i>Market Lane, Swalwell, Gateshead, NE16 3DZ</p>
          <p><i class="fi-telephone"></i><%= t('contact_details.phone') %></p>
          <p><i class="fi-mail"></i><%= t('contact_details.email') %></p>
          <div class="footer-social-links">
            <%= link_to "", "https://www.facebook.com/VisionHealthFitnessClub", target: "_blank", class: "fi-social-facebook" %>
      <%= link_to "", "#", target: "_blank", class: "fi-social-google-plus" %>
      <%= link_to "", "https://twitter.com/vision_gym", target: "_blank", class: "fi-social-twitter" %>
          </div>
      </div>
    </div>
    <div class="row footer-links">
      <div class="small-12 columns footer-links">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Join</a></li>
          <li><a href="#">Classes</a></li>
          <li><a href="#">Opening Times</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
